/* About page styles */

/* Resets */

.about-page {
  background-color: rgb(246, 246, 246);
  color: rgb(68, 68, 68);
  min-height: 100vh;
}

.gray-color {
  color: rgb(68, 68, 68);
}

/* About page header section */

.about-page header {
  background-color: white;
}

.about-page-header i {
  font-size: 2.5em;
}

.about-page-header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 1.2em 2em 1.2em 2em;
  transition: transform 0.5s ease-in;
  box-shadow: 2px 2px 2px rgb(219, 218, 218);
}

/* About page main section */

.about-page-main {
  min-height: 84vh;
}

.about-page-main img {
  filter: grayscale(60%);
  height: 70vh;
  margin: auto 0;
  object-fit: cover;
  width: 100%;
}

.about-page-main article {
  margin: 2em 3em;
}

.about-page-h1 {
  font-size: 3.5em;
  font-weight: 100;
  margin-bottom: 0.3em;
}

.about-page-p {
  font-size: 2em;
  line-height: 1.5;
  margin-bottom: 0.2em;
}

/* About page responsive screen styles */

@media screen and (min-width: 750px) {
  .about-page-main {
    display: flex;
  }

  .about-page-main img {
    width: 45%;
  }

  main article {
    margin: 10em 3em;
  }
}

/* About page footer section style */

.about-page-footer {
  align-items: center;
  background-color: rgb(68, 68, 68);
  display: flex;
  justify-content: space-between;
  min-height: 8em;
  padding: 0 8em;
}

.about-page-footer p {
  color: rgb(150, 148, 148);
  font-size: 1.4em;
}

.about-page-footer ul {
  display: flex;
}

.about-page-footer a {
  color: rgb(150, 148, 148);
  font-size: 2em;
  padding-left: 2em;
}

.about-page-footer a:hover {
  color: rgb(122, 119, 119);
}
