.contact-page {
  background-color: rgb(246, 246, 246);
  color: rgb(68, 68, 68);
}

.gray-color {
  color: rgb(68, 68, 68);
}

.contact-page-header {
  background-color: white;
}

.contact-page-header i {
  font-size: 2.5em;
}

.contact-page-header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 1.2em 2em 1.2em 2em;
  transition: transform 0.5s ease-in;
  box-shadow: 2px 2px 2px rgb(219, 218, 218);
}

.contact-page-main {
  margin: 0 9em;
  min-height: 85vh;
}

.contact-page-main :nth-child(2) {
  margin-top: 3em;
}

.contact-page-h2 {
  font-size: 6em;
  font-weight: 100;
  padding: 0.2em 0;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.contact-page-h4 {
  font-size: 1.8em;
  font-weight: 100;
  margin-top: 2em;
  margin-bottom: 0.6em;
}

.contact-page-input {
  width: 100%;
  height: 3em;
}

.contact-page-textarea {
  width: 100%;
}

.contact-page-button {
  background-color: rgb(68, 68, 68);
  color: aliceblue;
  margin: 2em 0 2em 0;
  text-transform: uppercase;
  width: 7em;
  height: 4em;
  border-radius: 40px;
}

.contact-page-footer {
  align-items: center;
  background-color: rgb(68, 68, 68);
  display: flex;
  justify-content: space-between;
  min-height: 8em;
  padding: 0 8em;
}

.contact-page-footer p {
  color: rgb(150, 148, 148);
  font-size: 1.4em;
}

.contact-page-footer ul {
  display: flex;
}

.contact-page-footer a {
  color: rgb(150, 148, 148);
  font-size: 2em;
  padding-left: 2em;
}

.contact-page-footer a:hover {
  color: rgb(122, 119, 119);
}
