/* Home page styles */

/* Resets */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: aliceblue;
  font-size: 62.5%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.home-page-background {
  background-image: url("../images/background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Header section styles */

header h2 {
  font-size: 2em;
  font-weight: 300;
  padding: 0.4em;
}

header i {
  font-size: 3em;
  padding: 0.6em;
}

header a {
  color: aliceblue;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

header h2:hover,
header i:hover {
  transform: scale(1.2);
}

menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 2em 3em;
  transition: transform 0.5s ease-in;
}

/* Main section styles */

.home-page-main-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
  text-align: center;
}

.home-page-h1 {
  font-size: 6em;
  font-weight: 100;
  text-transform: capitalize;
  width: 300px;
}

.home-page-h3 {
  font-size: 2.5em;
  font-weight: 100;
  letter-spacing: 2px;
  margin-top: 1em;
}

main span {
  font-family: cursive;
}

/* Footer section styles */

footer {
  text-align: center;
}

.home-page-footer i {
  color: gray;
  border: 3px solid gray;
  border-radius: 50%;
  font-size: 2em;
  padding: 0.7em;
}
