* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: aliceblue;
  font-size: 62.5%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-image: url("../images/background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

menu h2 {
  font-size: 2em;
  font-weight: 300;
  padding: 0.4em;
}

menu i {
  font-size: 3em;
  padding: 0.6em;
}

a {
  color: aliceblue;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 1em 2em;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
  text-align: center;
}

main h1 {
  font-size: 6em;
  font-weight: 100;
  text-transform: capitalize;
  width: 300px;
}

main h3 {
  font-size: 2.5em;
  font-weight: 100;
  letter-spacing: 2px;
  margin-top: 1em;
}

main span {
  font-family: cursive;
}

footer {
  text-align: center;
}

footer i {
  color: gray;
  border: 3px solid gray;
  border-radius: 50%;
  font-size: 2em;
  padding: 0.7em;
}
