/* Menu page styles */

/* Resets */

body {
  background-color: rgb(21, 30, 81);
}

.menu-page a {
  color: aliceblue;
  text-decoration: none;
}

/* Menu page main section */

.menu-page-main-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  list-style: none;
  text-align: center;
}

.menu-page-h1 {
  font-size: 5.5em;
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom: 3px;
  text-shadow: -3px 3px 2px gray;
}

.menu-page ul {
  margin: 0 0  2em 0;
}

.menu-page li {
  margin-bottom: 0.2em;
}

.menu-page li:hover {
  color: black;
}
 
.projects-hidden-menu {
  display: none;
}


/* .projects:hover .projects-hidden-menu {
  display: block;
  list-style: none;
  font-size: .4em;
} */


  /* Menu page footer section */


.menu-page-h1 {
  transform: scale(1.1);
  color: rgb(192, 188, 188);
}

.menu-page-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu-page-footer-i {
  font-size: 2em;
  color: rgb(196, 189, 189);
  margin-right: 1.5em;
}
